# Import all packages listed as Imports or Depends
import(foreach)
import(adehabitatHR)
import(ggplot2)
import(maptools)
importFrom(adehabitatLT,as.ltraj)
importFrom(dplyr,left_join,mutate,group_by,ungroup,summarize,summarise,select,transmute,do,'%>%',n,n_distinct,first,filter,as_tibble,group_size)
importFrom(sp,SpatialPoints,proj4string,coordinates,CRS,spDists,spDistsN1,SpatialLinesLengths,gridded,spTransform)
importFrom(sp,"gridded<-")
importFrom(sp,"coordinates<-")
importFrom(raster,crs,projection,projectRaster,stack,raster,extent)
importFrom(raster,"projection<-")
importFrom(lubridate,ymd_hms,ymd,days_in_month,date,as_date)
importFrom(plotKML,kml)
importFrom(spacetime,STIDF)
importFrom(stats,aggregate,sd,na.omit)
importFrom(parallel,makeCluster,stopCluster)
importFrom(doParallel,registerDoParallel,stopImplicitCluster)
importFrom(gdistance,shortestPath)
importFrom(grDevices, dev.new)
importFrom(utils, setTxtProgressBar, txtProgressBar, read.csv)

# Export all external functions
export(
  ComputeAzimuth,
  ComputeDistance,
  ExtractData,
  ExtractRecSummary,
  ExtractStationSummary,
  ExtractTagSummary,
  ExtractUniqueValues,
  GenerateAnimationKMLFile,
  GenerateAnimationKMLFile_Multitag,
  GenerateAnimationKMLFile_Track,
  GenerateCircuitousDistance,
  GenerateDirectDistance,
  GenerateLeastCostDistance,
  NonResidenceExtractId,
  ReadInputData,
  ReturnVR2Distance,
  RunResidenceExtraction,
  RunSensorEventExtraction,
  RunTimeProfile,
  COA,
  HRSummary,
  HRprocess,
  abacusPlot,
  detectionSummary,
  dispersalSummary,
  setupData)
